             @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
             * {
                 margin: 0;
                 padding: 0;
                 box-sizing: border-box;
                 font-size: 20px;
                 font-family: "Montserrat", sans-serif;
                 scroll-behavior: smooth;
             }
             
             .contact {
                 position: relative;
                 min-height: 100vh;
                 padding: 30px;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 flex-direction: column;
                 background: url(./img/const_sarga.jpg);
                 background-size: cover;
             }
             
             .contact .contact-header {
                 max-width: 800px;
                 text-align: center;
                 margin-bottom: 50px;
             }
             
             .contact .contact-header h3 {
                 font-size: 1.5rem;
                 letter-spacing: .2rem;
                 text-transform: uppercase;
                 font-weight: 500;
                 color: black;
             }
             
             .contact .contact-header p {
                 font-size: 1rem;
                 color: black;
             }
             
             .contact .contact-container {
                 width: 100%;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 flex-direction: column;
             }
             
             .contactForm {
                 width: 100%;
                 padding: 30px;
                 justify-content: center;
                 background-color: white;
                 margin-bottom: 40px;
             }
             
             .contactForm h4 {
                 font-size: 22px;
                 color: black;
                 font-weight: 500;
                 letter-spacing: .2rem;
                 text-transform: uppercase;
             }
             
             .contactForm .inputBox {
                 position: relative;
                 width: 100%;
                 margin-top: 10px;
             }
             
             .contactForm .inputBox input,
             .contactForm .inputBox select,
             .contactForm .inputBox textarea {
                 width: 100%;
                 padding: 5px 0;
                 font-size: 16px;
                 margin: 10px 0;
                 border: none;
                 border-bottom: 1px solid black;
                 outline: none;
                 resize: none;
             }
             
             .contactForm .inputBox span {
                 position: absolute;
                 left: 0;
                 padding: 5px 0;
                 font-size: 16px;
                 margin: 10px 0;
                 pointer-events: none;
                 transition: 0.5s;
                 color: #666;
             }
             
             .contactForm .inputBox input:focus~span,
             .contactForm .inputBox input:valid~span,
             .contactForm .inputBox textarea:focus~span,
             .contactForm .inputBox textarea:valid~span {
                 color: black;
                 font-size: 12px;
                 transform: translateY(-20px);
             }
             
             .contactForm .inputBox input[type="submit"] {
                 width: 100%;
                 background: #666;
                 color: white;
                 text-transform: uppercase;
                 border: none;
                 cursor: pointer;
                 padding: 10px;
                 font-size: 18px;
             }
             
             .contact .contactInfo {
                 width: 100%;
                 display: flex;
                 flex-direction: column;
                 left: 0;
             }
             
             .contact .contactInfo .box {
                 position: relative;
                 padding: 20px 0;
                 display: flex;
                 left: 0;
             }
             
             .contact .contactInfo .box .icon {
                 min-width: 50px;
                 height: 60px;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 background-color: white;
                 border-radius: 50%;
             }
             
             .contact .contactInfo .box .text {
                 display: flex;
                 margin-left: 20px;
                 font-size: 16px;
                 color: black;
                 flex-direction: column;
                 font-weight: 400;
             }
             
             .contact .contactInfo .box .text h4 {
                 font-weight: 600;
             }
             
             @media only screen and (min-width: 1200px) {
                 .contact {
                     position: relative;
                     min-height: 100vh;
                     padding: 50px;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                 }
                 .contact .contact-container {
                     justify-content: center;
                     align-items: center;
                     flex-direction: row;
                 }
                 .contactForm {
                     background-color: white;
                 }
                 .contact .contactInfo {
                     display: flex;
                 }
                 .contact .contactInfo .box {
                     position: relative;
                     padding: 20px 0;
                     display: flex;
                     left: 150px;
                 }
             }