                         @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");
                 html {
                     font-size: 20px;
                     font-family: "Montserrat", sans-serif;
                     scroll-behavior: smooth;
                 }
                 
                 .index-gallery {
                     display: flex;
                     flex-wrap: wrap;
                     align-items: center;
                     align-content: center;
                 }
                 
                 .index-gallery>.gallery-image {
                     flex: 60%;
                     height: 20rem;
                     justify-content: center;
                     align-items: center;
                     overflow: hidden;
                     text-align: center;
                     display: flex;
                 }
                 
                 .index-gallery>.gallery-image:hover>a,
                 .index-gallery>.gallery-image:focus>a {
                     transform: scale(1.1);
                     opacity: .9;
                 }
                 
                 .index-gallery>.gallery-image>a {
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     text-decoration: none;
                     cursor: pointer;
                     height: 100%;
                     width: 100%;
                     background-color: #333;
                     color: white;
                     background-position: center;
                     background-size: cover;
                     transition: all .5s ease-out;
                     transform: scale(1);
                 }
                 
                 .index-gallery>.gallery-image>a::after {
                     display: block;
                     content: "";
                     position: absolute;
                     left: 0;
                     top: 0;
                     width: 100%;
                     height: 100%;
                     background-color: rgba(0, 0, 0, 0.6);
                 }
                 
                 .index-gallery>.gallery-image>a>span {
                     z-index: 1;
                 }
                 
                 .index-gallery>.gallery-image>.alpin-technika {
                     background-image: url("img/img1.jpg");
                     /* majd nevezd at a kepeket */
                 }
                 
                 .index-gallery>.gallery-image>.epitoipari-munkak {
                     background-image: url("img/img2.jpg");
                 }
                 
                 .index-gallery>.gallery-image>.reklam-kihelyezes {
                     background-image: url("img/img3.jpg");
                 }
                 
                 .index-gallery>.gallery-image>.cimszo {
                     background-image: url("img/img4.jpg");
                 }
                 
                 .index-gallery>.gallery-image>.galambvedelem {
                     background-image: url("img/img5.jpg");
                 }
                 
                 .index-gallery>.gallery-image>.ipari-tisztitas {
                     background-image: url("img/img6.jpg");
                 }
                 /*Popup ablak megnyílása*/
                 
                 .img-window {
                     width: 100vw;
                     height: 100vh;
                     background-color: rgba(0, 0, 0, 0.7);
                     position: fixed;
                     top: 0;
                     left: 0;
                     cursor: pointer;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     z-index: 100;
                 }
                 
                 .img-window img {
                     max-height: 80vh;
                     max-width: 80vw;
                 }
                 /*Buttons*/
                 
                 .img-btn-next {
                     display: block;
                     padding: 6px 10px;
                     border-radius: 4px;
                     background-color: black;
                     position: fixed;
                     top: 48vh;
                     z-index: 500;
                     color: white;
                     cursor: pointer;
                     text-transform: uppercase;
                 }
                 
                 .img-btn-next:hover {
                     opacity: 0.8;
                 }
                 
                 .img-btn-prev {
                     display: block;
                     padding: 6px 10px;
                     border-radius: 4px;
                     background-color: black;
                     position: fixed;
                     top: 48vh;
                     z-index: 500;
                     color: white;
                     cursor: pointer;
                     text-transform: uppercase;
                 }
                 
                 .img-btn-prev:hover {
                     opacity: 0.8;
                 }
                 
                 @media only screen and (min-width: 768px) {
                     .index-gallery>.gallery-image {
                         flex: 40%;
                         height: 20rem;
                     }
                     @media only screen and (min-width: 1200px) {
                         .index-gallery>.gallery-image {
                             flex: 30%;
                             height: 20rem;
                         }