    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    html {
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        scroll-behavior: smooth;
    }
    
    a {
        text-decoration: none;
    }
    
    .container {
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    p {
        text-align: center;
        font-size: 1rem;
        line-height: 1.9rem;
        color: #1f1e1e;
        letter-spacing: .05rem;
        margin-top: 5px;
    }
    
    .section-title {
        font-size: 1.5rem;
        font-weight: 500;
        color: black;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: .2rem;
        text-align: center;
    }
    /*Menüsor része*/
    
    #header {
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100vw;
        height: auto;
    }
    
    #header .header {
        min-height: 8vh;
        background-color: rgb(31, 30, 30, 0.24);
        transition: .3s ease background-color;
    }
    
    #header .brand {
        width: 120px;
        position: left;
    }
    
    .header .nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        max-width: 1300px;
        padding: 0 10px;
    }
    
    #header .nav-list ul {
        list-style: none;
        position: absolute;
        background-color: rgb(31, 30, 30);
        width: 100vw;
        height: 100vh;
        left: 100%;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        overflow-x: hidden;
        flex-direction: column;
        transition: .5s ease left;
    }
    
    #header .nav-list ul.active {
        left: 0;
    }
    
    #header .nav-list ul a {
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: .2rem;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        padding: 20px;
        display: block;
    }
    
    #header .nav-list ul a:hover {
        color: #F9FA0F;
    }
    
    #header .menu {
        height: 60px;
        width: 60px;
        display: inline-block;
        border: 3px solid white;
        border-radius: 50%;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 100;
        transform: scale(.8);
        margin-right: 20px;
    }
    
    #header .menu:after {
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        border-radius: 50%;
        border: 3px solid white;
    }
    
    #header .menu .bar {
        height: 2px;
        width: 30px;
        position: relative;
        background-color: white;
        z-index: -1;
    }
    
    #header .menu .bar::after,
    #header .menu .bar::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        background-color: white;
        transition: .3s ease;
        transition-property: top, bottom;
    }
    
    #header .menu .bar::after {
        top: 8px;
    }
    
    #header .menu .bar::before {
        bottom: 8px;
    }
    
    #header .menu.active .bar::before {
        bottom: 0;
    }
    
    #header .menu.active .bar::after {
        top: 0;
    }
    
    #header h1 {
        color: white;
    }
    
    #header span {
        color: #F9FA0F;
    }
    /*Főoldal része*/
    
    #hero {
        background-image: url(./img/kisfokep.jpg);
        background-size: cover;
        background-position: top left;
        position: relative;
        z-index: 1;
    }
    
    #hero::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: .6;
        z-index: -1;
    }
    
    #hero .hero {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 50px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    #hero .logojel {
        width: 300px;
        height: 300px;
        display: block;
        margin: auto;
        padding: auto;
        align-items: center;
        position: center;
    }
    
    #hero h1 {
        display: block;
        width: fit-content;
        font-size: 1.5rem;
        position: relative;
        color: white;
        margin: auto;
        margin-bottom: 10px;
        padding: auto;
        text-align: center;
        letter-spacing: .2rem;
        text-transform: uppercase;
    }
    
    #hero hr {
        border-color: #F9FA0F;
    }
    
    #hero h2 {
        display: block;
        width: fit-content;
        font-size: 1rem;
        color: white;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;
        font-weight: 500;
    }
    
    #hero .call {
        display: inline-block;
        padding: 10px 30px;
        color: white;
        background-color: transparent;
        border: 2px solid #F9FA0F;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        margin-top: 30px;
        transition: .3s ease;
        transition-property: background-color, color;
        margin: 20px;
    }
    
    #hero .ajanlat {
        display: inline-block;
        padding: 10px 30px;
        color: white;
        background-color: transparent;
        border: 2px solid #F9FA0F;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        margin-top: 30px;
        transition: .3s ease;
        transition-property: background-color, color;
        margin: 20px;
    }
    
    #hero .call:hover {
        color: red;
        background-color: #F9FA0F;
    }
    
    #hero .ajanlat:hover {
        color: red;
        background-color: #F9FA0F;
    }
    /*Szolgáltatás rész*/
    
    #service {
        background-color: #F9FA0F;
    }
    
    #service .service {
        flex-direction: column;
        text-align: center;
        max-width: 1500px;
        margin: 0 auto;
        padding: 100px 0;
    }
    
    #service .service-title {
        font-size: 1.5rem;
        font-weight: 500;
        color: #1f1e1e;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: .2rem;
        text-align: center;
    }
    
    #services .service-top p {
        font-size: 1rem;
        margin-top: 5px;
        line-height: 2.5rem;
        font-weight: 300px;
        letter-spacing: .05rem;
        margin: 10px 5%;
    }
    
    #service .service-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    
    #service .service-item {
        flex-basis: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 30px;
        margin: 10px 5%;
        position: relative;
        overflow: hidden;
    }
    
    #service .service-bottom .icon {
        height: 50px;
        width: 50px;
        margin-bottom: 20px;
    }
    
    #service .service-item h3 {
        font-size: 1rem;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: #1f1e1e;
    }
    
    #service .service-item p {
        text-align: left;
        font-size: 1rem;
        line-height: 1.9rem;
        color: #1f1e1e;
    }
    /*Referencia rész*/
    
    #references .references-header {
        background-color: #F9FA0F;
        margin: 0;
        padding: 20px;
        max-width: 100%;
    }
    
    #references .references-header h2 {
        margin-bottom: 30px;
        margin: 0;
        color: #1f1e1e;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    
    #references .references-header p {
        color: #1f1e1e;
        font-size: 1rem;
        margin-top: 5px;
        line-height: 2.5rem;
        font-weight: 300px;
        letter-spacing: .05rem;
        margin: 10px 5%;
    }
    /*Munkáink rész*/
    
    .index-gallery {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
    }
    
    .index-gallery>.gallery-image {
        flex: 60%;
        height: 20rem;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        text-align: center;
        display: flex;
    }
    
    .index-gallery>.gallery-image:hover>a,
    .index-gallery>.gallery-image:focus>a {
        transform: scale(1.1);
        opacity: 0.9;
    }
    
    .index-gallery>.gallery-image>a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        height: 100%;
        width: 100%;
        background-color: #333;
        color: white;
        background-position: center;
        background-size: cover;
        transition: all .5s ease-out;
        transform: scale(1);
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }
    
    .index-gallery>.gallery-image>a::after {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    }
    
    .index-gallery>.gallery-image>a>span {
        z-index: 1;
    }
    
    .index-gallery>.gallery-image>.alpin-technika {
        background-image: url("img/img1.jpg");
        /* majd nevezd at a kepeket */
    }
    
    .index-gallery>.gallery-image>.epitoipari-munkak {
        background-image: url("img/img2.jpg");
    }
    
    .index-gallery>.gallery-image>.reklam-kihelyezes {
        background-image: url("img/img3.jpg");
    }
    
    .index-gallery>.gallery-image>.cimszo {
        background-image: url("img/img4.jpg");
    }
    
    .index-gallery>.gallery-image>.galambvedelem {
        background-image: url("img/img5.jpg");
    }
    
    .index-gallery>.gallery-image>.ipari-tisztitas {
        background-image: url("img/img6.jpg");
    }
    /*Popup ablak megnyílása*/
    
    .img-window {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        top: 0;
        left: 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    
    .img-window img {
        max-height: 50vh;
        max-width: 100%;
    }
    /*Buttons*/
    
    .img-btn-next {
        display: block;
        padding: 6px 10px;
        border-radius: 4px;
        background-color: black;
        position: fixed;
        top: 48vh;
        z-index: 500;
        color: white;
        cursor: pointer;
        text-transform: uppercase;
    }
    
    .img-btn-next:hover {
        opacity: 0.8;
    }
    
    .img-btn-prev {
        display: block;
        padding: 6px 10px;
        border-radius: 4px;
        background-color: black;
        position: fixed;
        top: 48vh;
        z-index: 500;
        color: white;
        cursor: pointer;
        text-transform: uppercase;
    }
    
    .img-btn-prev:hover {
        opacity: 0.8;
    }
    /*Bemutatkozás rész*/
    
    #bemutat .bemutat-container {
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        padding: 300px 20px;
        background-image: url(./img/pexels-nicole-rathmayr-220885.jpg);
        z-index: 1;
        position: relative;
        width: 100%;
        background-size: cover;
    }
    
    #bemutat .bemutat-container::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: .6;
        z-index: -1;
    }
    
    #bemutat .bemutat-container h3 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 10px;
        letter-spacing: .2rem;
        color: #F9FA0F;
    }
    
    #bemutat .bemutat-container h4 {
        text-align: center;
        margin-bottom: 20px;
        color: white;
    }
    
    #bemutat .bemutat-container p {
        text-align: center;
        color: white;
    }
    /*Kapcsolat rész*/
    
    .contact {
        position: relative;
        min-height: 100vh;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: url(./img/const_sarga.jpg);
        background-size: cover;
    }
    
    .contact .contact-header {
        max-width: 800px;
        text-align: center;
        margin-bottom: 50px;
    }
    
    .contact .contact-header h3 {
        font-size: 1.5rem;
        letter-spacing: .2rem;
        text-transform: uppercase;
        font-weight: 500;
        color: black;
    }
    
    .contact .contact-header p {
        font-size: 1rem;
        color: black;
    }
    
    .contact .contact-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .contactForm {
        width: 100%;
        padding: 30px;
        justify-content: center;
        background-color: white;
        margin-bottom: 40px;
    }
    
    .contactForm h4 {
        font-size: 22px;
        color: black;
        font-weight: 500;
        letter-spacing: .2rem;
        text-transform: uppercase;
    }
    
    .contactForm .inputBox {
        position: relative;
        width: 100%;
        margin-top: 10px;
    }
    
    .contactForm .inputBox input,
    .contactForm .inputBox select,
    .contactForm .inputBox textarea {
        width: 100%;
        padding: 5px 0;
        font-size: 16px;
        margin: 10px 0;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        resize: none;
    }
    
    .contactForm .inputBox span {
        position: absolute;
        left: 0;
        padding: 5px 0;
        font-size: 16px;
        margin: 10px 0;
        pointer-events: none;
        transition: 0.5s;
        color: #666;
    }
    
    .contactForm .inputBox input:focus~span,
    .contactForm .inputBox input:valid~span,
    .contactForm .inputBox textarea:focus~span,
    .contactForm .inputBox textarea:valid~span {
        color: black;
        font-size: 12px;
        transform: translateY(-20px);
    }
    
    .contactForm .inputBox input[type="submit"] {
        width: 100%;
        background: #666;
        color: white;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        padding: 10px;
        font-size: 18px;
    }
    
    #status {
        width: 100%;
        text-align: center;
        padding: 10px;
        margin: 0 auto;
        border-radius: 8px;
        flex-direction: row;
    }
    
    #status.success {
        background-color: rgb(211, 250, 153);
        animation: status 4s ease forwards;
    }
    
    #status.error {
        background-color: rgb(250, 129, 92);
        color: white;
        animation: status 4s ease forwards;
    }
    
    .contact .contactInfo {
        width: 100%;
        display: flex;
        flex-direction: column;
        left: 0;
    }
    
    .contact .contactInfo .box {
        position: relative;
        padding: 20px 0;
        display: flex;
        left: 0;
    }
    
    .contact .contactInfo .box .icon {
        min-width: 50px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 50%;
    }
    
    .contact .contactInfo .box .text {
        display: flex;
        margin-left: 20px;
        font-size: 16px;
        color: black;
        flex-direction: column;
        font-weight: 400;
    }
    
    .contact .contactInfo .box .text h4 {
        font-weight: 600;
    }
    /*Kapcsolatok rész
    
    #contact .contact {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        background-color: #F9FA0F;
    }
    
    #contact .section-title {
        color: rgb(31, 30, 30);
        margin: 50px;
        font-weight: 500;
        text-align: center;
        letter-spacing: .2rem;
    }
    
    #contact .contact-items {
        width: 400px;
    }
    
    #contact .contact-item {
        text-align: center;
        color: rgb(31, 30, 30);
        background-color: white;
        padding: 5px;
        margin: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 0px 18px #0000002c;
        transition: .3 ease box-shadow;
    }
    
    #contact .contact-item:hover {
        box-shadow: 0px 0px 4px 0 #0000002c;
    }
    
    #contact .icon {
        margin: 0 auto;
        margin-bottom: 3px;
    }
    
    #contact .contact-info h3 {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    #contact .contact-info h4 {
        font-size: 0.7rem;
    }*/
    /*Footer rész*/
    
    #footer {
        background-color: rgb(31, 30, 30);
    }
    
    #footer .footer {
        min-height: 200px;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 10px;
    }
    
    #footer .logojel {
        width: 100px;
        height: 100px;
    }
    
    #footer .social-icon {
        display: flex;
        margin-bottom: 20px;
    }
    
    #footer .social-item {
        height: 15px;
        width: 15px;
        margin-bottom: 0 5px;
        margin: 10px;
        align-items: center;
    }
    
    #footer p {
        color: white;
        font-size: 0.5rem;
    }
    /*Főoldalon lévő szöveg Keywordse*/
    
    @keyframes text_reveal_box {
        50% {
            width: 100%;
            left: 0;
        }
        100% {
            width: 0;
            left: 100%;
        }
    }
    
    @keyframes status {
        0% {
            opacity: 1;
            pointer-events: all;
        }
        99% {
            opacity: 1;
            pointer-events: all;
        }
        100% {
            opacity: 0;
            pointer-events: none;
        }
    }
    /* Reszponzivitás - Tabletnek (betűméreteket nem állítottam át)*/
    
    @media only screen and (min-width: 768px) {
        #hero {
            background-image: url(./img/20180519_155144.jpg);
            background-position: top center;
        }
        #service .service-bottom .service-item {
            flex-basis: 45%;
            margin: 2.5%;
            flex-direction: column;
        }
        .contact .contactInfo .box {
            left: 400px;
        }
        .index-gallery>.gallery-image {
            flex: 40%;
            height: 20rem;
        }
        .contact .contactInfo .box {
            left: 300px;
        }
        /*#contact .contact {
            flex-direction: column;
            padding: 100px 0;
            align-items: center;
            justify-content: center;
            min-width: 20vh;
        }
        #contact .contact-items {
            width: 100%;
            display: flex;
            flex-direction: row;
            padding: 20px;
            margin: 0;
        }
        #contact .contact-item {
            margin: 20px;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;
            flex-basis: 0;
        }
        #contact .contact-item .icon {
            height: 20px;
            width: 80px;
            align-items: center;
            margin: 20px;
        }
        #contact .contact-item .contact-info h4 {
            text-align: center;
            margin-bottom: 10px;
        }*/
    }
    
    @media only screen and (min-width: 1200px) {
        #hero {
            background-image: url(./img/20180519_155144.jpg);
            background-position: top center;
        }
        #header .menu {
            display: none;
        }
        #header .nav-list ul {
            position: initial;
            display: block;
            height: auto;
            width: fit-content;
            background-color: transparent;
        }
        #header .nav-list ul li {
            display: inline-block;
        }
        #header .nav-list ul li a {
            font-size: 0.6rem;
            font-weight: bold;
            letter-spacing: 0.1rem;
        }
        #header .nav-list ul a:after {
            display: none;
        }
        #service .service-bottom .service-item {
            flex-basis: 22%;
            margin: 1.5%;
            flex-direction: column;
        }
        #service .service-top {
            width: 500px;
            max-width: 0 auto;
        }
        .index-gallery>.gallery-image {
            flex: 30%;
            height: 20rem;
        }
        .contact {
            position: relative;
            min-height: 100vh;
            padding: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .contact .contact-container {
            justify-content: center;
            align-items: center;
            flex-direction: row;
        }
        .contactForm {
            background-color: white;
        }
        .contact .contactInfo {
            display: flex;
        }
        .contact .contactInfo .box {
            position: relative;
            padding: 20px 0;
            display: flex;
            left: 150px;
        }
    }